.jfx-combo-box {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-prompt-text-fill: transparent;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: navajowhite;
    -fx-text-fill: #3d3d3d;
}

.combo-box .list-cell,
.combo-box .list-view,
.combo-box-popup .list-view .list-cell
{
    /* No alternate highlighting */
    -fx-background: #3d3d3d;
    -fx-background-color: #3d3d3d;
    -fx-text-fill: #bbbbbb;
    -fx-alignment: center;
}

/*.jfx-combo-box .label*/
/*{*/
/*    -fx-font: 15px "Caviar Dreams";*/
/*}*/

/*.jfx-combo-box .cell {*/
/*    -fx-font: 15px "Caviar Dreams";*/
/*    -fx-text-fill: white; !* change selected text (item) color *!*/
/*    -fx-background-color: #3d3d3d; !* change background color *!*/
/*}*/